<!--
  ~ Copyright (c) 2014 by Ernesto Carrella
  ~ Licensed under MIT license. Basically do what you want with it but cite me and don't sue me. Which is just politeness, really.
  ~ See the file "LICENSE" for more information
  -->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>/home/carrknight/code/MacroIIDiscrete/maximizer.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>


  <root level="off">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
